config MODULES
       def_bool y
       option modules

config INT
       int "test int"

config STR
       string "test string"

config FOO
       tristate "foo"

choice
	prompt "hoge"

config AAA
       tristate "aaa"

config BBB
       tristate "bbb"

endchoice

menuconfig GGG
	   bool "ggg"

if GGG

config CCC
       tristate "ccc"

endif
